<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.irving.aecproject.dao.MemberInfoMapper">
  <resultMap id="BaseResultMap" type="com.irving.aecproject.entity.MemberInfo">
    <id column="memberID" jdbcType="VARCHAR" property="memberid" />
    <result column="memberPWD" jdbcType="VARCHAR" property="memberpwd" />
    <result column="CNname" jdbcType="VARCHAR" property="cnname" />
    <result column="EGname" jdbcType="VARCHAR" property="egname" />
    <result column="wechatName" jdbcType="VARCHAR" property="wechatname" />
    <result column="wechatID" jdbcType="VARCHAR" property="wechatid" />
    <result column="memberScore" jdbcType="INTEGER" property="memberscore" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AECMemberInfo
    where memberID = #{memberid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.irving.aecproject.entity.MemberInfo">
    insert into AECMemberInfo (memberID, memberPWD, CNname, 
      EGname, wechatName, wechatID, 
      memberScore, active)
    values (#{memberid,jdbcType=VARCHAR}, #{memberpwd,jdbcType=VARCHAR}, #{cnname,jdbcType=VARCHAR}, 
      #{egname,jdbcType=VARCHAR}, #{wechatname,jdbcType=VARCHAR}, #{wechatid,jdbcType=VARCHAR}, 
      #{memberscore,jdbcType=INTEGER}, #{active,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.irving.aecproject.entity.MemberInfo">
    update AECMemberInfo
    set memberPWD = #{memberpwd,jdbcType=VARCHAR},
      CNname = #{cnname,jdbcType=VARCHAR},
      EGname = #{egname,jdbcType=VARCHAR},
      wechatName = #{wechatname,jdbcType=VARCHAR},
      wechatID = #{wechatid,jdbcType=VARCHAR},
      memberScore = #{memberscore,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER}
    where memberID = #{memberid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select memberID, memberPWD, CNname, EGname, wechatName, wechatID, memberScore, active
    from AECMemberInfo
    where memberID = #{memberid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select memberID, memberPWD, CNname, EGname, wechatName, wechatID, memberScore, active
    from AECMemberInfo
  </select>
</mapper>